﻿@page "/available-courses"
@using System.Net.Http.Json
@using Shared.Dto
@using Shared.Dto.Courses
@inject HttpClient Http

<h3>Courses</h3>

<button class="btn btn-primary mb-2" @onclick="ToggleForm">CREATE</button>

@if (showForm)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Hours</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td><input class="form-control" @bind="newCourse.Title" /></td>
                <td><input class="form-control" @bind="newCourse.Description" /></td>
                <td><input type="number" class="form-control" @bind="newCourse.Hours" /></td>
                <td><input type="number" class="form-control" @bind="newCourse.Price" step="0.01" /></td>
                <td><button class="btn btn-success" @onclick="AddCourse">Save</button></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td>@course.Title</td>
                    <td>@course.Description</td>
                    <td>@course.Hours</td>
                    <td>@course.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Hours</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    @if (editingCourseId == course.Id)
                    {
                        <td><input class="form-control" @bind="editingCourse.Title" /></td>
                        <td><input class="form-control" @bind="editingCourse.Description" /></td>
                        <td><input type="number" class="form-control" @bind="editingCourse.Hours" /></td>
                        <td><input type="number" class="form-control" @bind="editingCourse.Price" /></td>
                        <td>
                            <button class="btn btn-success" @onclick="() => SaveCourse(course.Id)">Save</button>
                            <button class="btn btn-secondary" @onclick="CancelEdit">Cancel</button>
                        </td>
                    }
                    else
                    {
                        <td>@course.Title</td>
                        <td>@course.Description</td>
                        <td>@course.Hours</td>
                        <td>@course.Price</td>
                        <td>
                            <button class="btn btn-primary" @onclick="() => EditCourse(course)">Edit</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<CourseDto>? courses = new List<CourseDto>();
    private CreateCourseDto newCourse = new CreateCourseDto();
    private bool showForm = false;
    private CourseDto editingCourse = new CourseDto();
    private int? editingCourseId;

    protected override async Task OnInitializedAsync()
    {
        await LoadCourses();
    }

    private void ToggleForm()
    {
        showForm = !showForm;
    }

    private async Task AddCourse()
    {
        if (newCourse == null) return;

        // Basic validation (you can expand this based on your requirements)
        if (string.IsNullOrWhiteSpace(newCourse.Title) ||
            string.IsNullOrWhiteSpace(newCourse.Description) ||
            newCourse.Hours <= 0 ||
            newCourse.Price <= 0)
        {
            // Handle validation failure (e.g., show an error message)
            Console.WriteLine("Invalid course data.");
            return;
        }

        try
        {
            // Send a POST request to add the new course
            var response = await Http.PostAsJsonAsync("https://localhost:7245/api/Courses", newCourse);

            if (response.IsSuccessStatusCode)
            {
                // Optionally read the response if your API returns the created object or any message
                // var addedCourse = await response.Content.ReadFromJsonAsync<CourseDto>();

                // Reset the form fields after successful addition
                newCourse = new CreateCourseDto();

                // Refresh the course list to include the new course
                await LoadCourses(); // Assuming you have a method to load courses

                // Optionally hide the form after saving
                showForm = false;
            }
            else
            {
                // Handle HTTP error (e.g., show an error message)
                Console.WriteLine($"Failed to add course. Status code: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            // Handle exceptions (e.g., network error, serialization error)
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }

    private async Task SaveCourse(int courseId)
    {
        // Validate the updated course information (optional)
        if (string.IsNullOrWhiteSpace(editingCourse.Title) ||
            string.IsNullOrWhiteSpace(editingCourse.Description) ||
            editingCourse.Hours <= 0 ||
            editingCourse.Price <= 0)
        {
            Console.WriteLine("Invalid course data.");
            return;
        }

        try
        {
            // Construct the URL for the specific course to be updated
            var url = $"https://localhost:7245/api/Courses/{courseId}";

            // Send a PUT or PATCH request to update the course
            // Use PUT if you're updating the entire course record, or PATCH if you're only updating specific fields
            var response = await Http.PutAsJsonAsync(url, editingCourse);

            if (response.IsSuccessStatusCode)
            {
                // Optionally, handle the response, e.g., by reading the updated course data
                // var updatedCourse = await response.Content.ReadFromJsonAsync<CourseDto>();

                // After a successful update, refresh the course list
                await LoadCourses();

                // Reset the editing state
                editingCourse = new CourseDto();
                editingCourseId = null;
            }
            else
            {
                // Handle the case where the server responds with an error (e.g., course not found, validation error)
                Console.WriteLine($"Failed to update course. Status code: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            // Handle any exceptions that occur during the HTTP request
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }

    private void EditCourse(CourseDto course)
    {
        editingCourse = new CourseDto
            {
                Id = course.Id,
                Title = course.Title,
                Description = course.Description,
                Hours = course.Hours,
                Price = course.Price
            };
        editingCourseId = course.Id;
    }

    private void CancelEdit()
    {
        editingCourseId = null;
    }

    private async Task LoadCourses()
    {
        var response = await Http.GetFromJsonAsync<Result<List<CourseDto>>>("https://localhost:7245/api/Courses");
        courses = response?.Data ?? new List<CourseDto>();
    }
}